/* BackgroundComponent.css */

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Set a lower z-index to keep the background behind the content */
    background-color: black; /* Apply background color only to this component */
  }
  
  
  
  @keyframes jumbo {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
  
  .jumbo {
    --stripesDark: repeating-linear-gradient(
      100deg,
      #000 0%,
      #000 7%,
      transparent 10%,
      transparent 12%,
      #000 16%
    );
    --rainbow: repeating-linear-gradient(
      100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%
    );
  
    background-image: var(--stripesDark), var(--rainbow);
    background-size: 300%, 200%;
    background-position:
      50% 50%,
      50% 50%;
    filter: blur(10px) opacity(50%) saturate(200%);
    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
    pointer-events: none;
  }
  
  .jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripesDark), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
  /* Utility classes */
  .relative {
    position: relative;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .h-100vh {
    height: 100vh;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .bg-black {
    background-color: black;
  }
  
  .absolute {
    position: absolute;
  }
  
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .-inset-10px {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }
  
  .opacity-50 {
    opacity: 0.5;
  }
  
  .ml-1 {
    margin-left: 0.25rem;
  }
  
  .rounded-xl {
    border-radius: 0.75rem;
  }
  
  .bg-current {
    background-color: currentColor;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .text-0\.7em {
    font-size: 0.7em;
  }
  
  .leading-none {
    line-height: 1;
  }
  
  .text-white {
    color: white;
  }
  
  .opacity-80 {
    opacity: 0.8;
  }
  
  .transition-colors {
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }
  
  .text-black {
    color: black;
  }